## Lesson 2

--> Pandas Index Object  
--> Some SET Opereations using Pandas  
--> Series in Dictionary  
--> loc and iloc  
--> DataFrame using Dictionary  
--> Modifying DataFrame  
--> DataFrame as 2D array

In [2]:
import pandas as pd

### Pandas Index Object

In [3]:
ind = pd.Index([2,4,6,8,10])  # We are creating a Pandas Index Object and storing it inside the variable ind

print(ind)

Index([2, 4, 6, 8, 10], dtype='int64')

In [7]:
print(ind[0],'\n')   # This gives the value present at 0th index -> 2

print(ind[1],'\n')   # This gives the value present at 1st index -> 4

print(ind[2],'\n')   # This gives the value present at 2nd index -> 6

print(ind[::2])      # This gives the alternate values present in the ind variable [stepcount = 2]

2

4

6

Index([2, 6, 10], dtype='int64')

In [6]:
print(ind.shape,'\n')   # This gives the shape of the Pandas Index Object stored in ind -> (5,)  [it has 5 columns]

print(ind.size,'\n')    # This gives the size of the Pandas Index Object stored in ind ->  5 [Total elements in the variable]

print(ind.ndim,'\n')    # This gives the dimensions of the Pandas Index Object stored in ind -> 1D

print(ind.dtype,'\n')   # This gives the data type of the Pandas Index Object stored in ind -> int64  [integer 64 bits]

(5,)

5

1

int64

### Some SET Opereations using Pandas

In [11]:
a1 = pd.Index([1,2,4,8,10])

a2 = pd.Index([1,2,5,9,10])


print(a1,'\n')

print(a2)

Index([1, 2, 4, 8, 10], dtype='int64')

Index([1, 2, 5, 9, 10], dtype='int64')

In [14]:
# The '&' symbol states that intersection operation should be performed 
print (a1.intersection(a2))


# The '|' symbol states that union operation should be performed 
print(a1.union(a2))

# The '^' symbol states that symmetric difference should be performed 
print(a1.symmetric_difference(a2))

Index([1, 2, 10], dtype='int64')
Index([1, 2, 4, 5, 8, 9, 10], dtype='int64')
Index([4, 5, 8, 9], dtype='int64')

### Series in Dictionary

In [15]:
data = pd.Series([0.20, 0.30, 0.40, 0.50, 0.60],
                index = ['a','b','c','d','e'])

print(data)

a    0.2
b    0.3
c    0.4
d    0.5
e    0.6
dtype: float64

In [17]:
print(data['a'],'\n')


print(data['e'],'\n')


print('e' in data,'\n')


print('f' in data,'\n')


print(data.keys(),'\n')


print(list(data.items()))

0.2

0.6

True

False

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

[('a', 0.2), ('b', 0.3), ('c', 0.4), ('d', 0.5), ('e', 0.6)]

In [18]:
print(data,'\n')

data['f'] = 0.70

print(data)

a    0.2
b    0.3
c    0.4
d    0.5
e    0.6
dtype: float64

a    0.2
b    0.3
c    0.4
d    0.5
e    0.6
f    0.7
dtype: float64

In [20]:
print(data['a':'c'],'\n')   # In this slicing the value at the index 'c' is included


print(data[0:3],'\n')    # In this slicing the value at 3rd index is excluded 


print(data[(data>0.3) & (data<0.7)],'\n')    # This is masking [it gives the values which are between 0.4 and 0.6]


print(data[['a','e']])    # This is fancy indexing  [We are accessing multiple individual values using indexing]

a    0.2
b    0.3
c    0.4
dtype: float64

a    0.2
b    0.3
c    0.4
dtype: float64

c    0.4
d    0.5
e    0.6
dtype: float64

a    0.2
e    0.6
dtype: float64

### loc and iloc

In [21]:
data = pd.Series(['a','b','c'],
                index = [1,3,5])

print(data)

1    a
3    b
5    c
dtype: object

In [23]:
print(data[1],'\n')

print(data[3],'\n')

a

b

In [27]:
# loc   -->  It is a label-based indexing

print(data.loc[1],'\n')

print(data.loc[3],'\n')

print(data.loc[1:3],'\n')

a

b

1    a
3    b
dtype: object

In [28]:
# iloc --> It is a position-based indexing

print(data.iloc[0],'\n')

print(data.iloc[1],'\n')

print(data.iloc[0:2])

a

b

1    a
3    b
dtype: object

### DataFrame using Dictionary

In [1]:
population_dict = {
    'Hyderabad':38317000,
    'Uttar Pradesh':238875000,
    'Mumbai':127684000,
    'Banglore':68256000
}                                 # Creating a dictionary of population
 
area_dict = {
    'Uttar Pradesh':240928,
    'Hyderabad':112077,
    'Banglore':191791,
    'Mumbai':307713
}                                # Creating a dictionary of area

In [2]:
import pandas as pd 

population = pd.Series(population_dict)          # Converting the dictionary into a Pandas Series Object

area = pd.Series(area_dict)                      # Converting the dictionary into a Pandas Series Object

In [3]:
data = pd.DataFrame({
    'area':area,
    'population':population
})                                 # Creating a Pandas DataFrame Object 

print(data)

                 area  population
Banglore       191791    68256000
Hyderabad      112077    38317000
Mumbai         307713   127684000
Uttar Pradesh  240928   238875000

In [4]:
print(data['area'],'\n')               # Accessing the area column [Dictionary-key style]


print(data['population'],'\n')       # Accessing the population column [Dictionary-key style]


print(data.area,'\n')           # Accessing the area column [Attribute-style access]


print(data.population)          # Accessing the population column [Attribute-style access]

Banglore         191791
Hyderabad        112077
Mumbai           307713
Uttar Pradesh    240928
Name: area, dtype: int64

Banglore          68256000
Hyderabad         38317000
Mumbai           127684000
Uttar Pradesh    238875000
Name: population, dtype: int64

Banglore         191791
Hyderabad        112077
Mumbai           307713
Uttar Pradesh    240928
Name: area, dtype: int64

Banglore          68256000
Hyderabad         38317000
Mumbai           127684000
Uttar Pradesh    238875000
Name: population, dtype: int64

In [5]:
# Lets check if data.area is equal to data['area']

data.area is data['area']

True

In [6]:
# Lets check if data.population is equal to data['population']

data.population is data['population']

True

### Modifying DataFrame

In [7]:
data['density'] = data['population'] / data['area']

print(data)

                 area  population     density
Banglore       191791    68256000  355.887398
Hyderabad      112077    38317000  341.881028
Mumbai         307713   127684000  414.945095
Uttar Pradesh  240928   238875000  991.478782

### DataFrame as 2D array

In [15]:
data.values    # This returns the underlying data of a DataFrame as a Numpy array

array([[1.91791000e+05, 6.82560000e+07, 3.55887398e+02],
       [1.12077000e+05, 3.83170000e+07, 3.41881028e+02],
       [3.07713000e+05, 1.27684000e+08, 4.14945095e+02],
       [2.40928000e+05, 2.38875000e+08, 9.91478782e+02]])

In [10]:
data   # This gives our data

                 area  population     density
Banglore       191791    68256000  355.887398
Hyderabad      112077    38317000  341.881028
Mumbai         307713   127684000  414.945095
Uttar Pradesh  240928   238875000  991.478782

In [16]:
data.T  # This swaps the rows and columns of the DataFrame

                Banglore     Hyderabad        Mumbai  Uttar Pradesh
area        1.917910e+05  1.120770e+05  3.077130e+05   2.409280e+05
population  6.825600e+07  3.831700e+07  1.276840e+08   2.388750e+08
density     3.558874e+02  3.418810e+02  4.149451e+02   9.914788e+02

### Accessing values in 2D DataFrame

In [14]:
print(data.iloc[:2,:1],'\n')   # This gives the ouput of values present 

print(data.iloc[2,:2],)

             area
Banglore   191791
Hyderabad  112077

area             307713.0
population    127684000.0
Name: Mumbai, dtype: float64

In [20]:
print(data.loc[:'Mumbai','area'],'\n')   # The rows that are before Mumbai [inclusive] are included  and the area column is included

print(data.loc[:'Hyderabad',:])   # Here all the rows before Hyderabad [inclusive] are included  and all the columns are also included

Banglore     191791
Hyderabad    112077
Mumbai       307713
Name: area, dtype: int64

             area  population     density
Banglore   191791    68256000  355.887398
Hyderabad  112077    38317000  341.881028

In [21]:
data

                 area  population     density
Banglore       191791    68256000  355.887398
Hyderabad      112077    38317000  341.881028
Mumbai         307713   127684000  414.945095
Uttar Pradesh  240928   238875000  991.478782

In [23]:
data.loc[data.density>350,['area','population','density']]

                 area  population     density
Banglore       191791    68256000  355.887398
Mumbai         307713   127684000  414.945095
Uttar Pradesh  240928   238875000  991.478782

In [26]:
data.iloc[0,0] = 200340

data

                 area  population     density
Banglore       200340    68256000  355.887398
Hyderabad      112077    38317000  341.881028
Mumbai         307713   127684000  414.945095
Uttar Pradesh  240928   238875000  991.478782